@import '../abstract/variables';

/*========== Button Dark/Light ==========*/

.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: $text-color;
  font-size: 1rem;
  cursor: pointer;
}

.button {
  display: inline-block;
  background-color: $first-color;
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;

  &:hover {
    background-color: $first-color-alt;
  }
}