@import '../abstract/variables';

.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var($mb-2);
    margin-right: var($mb-2);
    .l-header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var();
        background-color: var();
    }
}


