@import '../abstract/variables';

.home__container {
  height: calc(100vh - 3rem);
  align-content: center;
}

.home__title {
  font-size: $biggest-font-size;
  color: $first-color;
  margin-bottom: $mb-4;
}

.home__subtitle {
  font-size: $h1-font-size1;
  color: $title-color1;
  margin-bottom: $mb-4;
}

.home__img{
  width: 300px;
  justify-self: center;
}