/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  /* height: var(--header-height); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}


